$filter-text-color: #93b7cc;
$normal-text-color: #1e5680;
$normal-background-color: #142534;
$action-button-color: #02ff40;
$nav-text-color: #277dbd;
$half-font-size: 15px;
$normal-font-size: 30px;
$large-font-size: 45px;
$double-font-size: 60px;
$triple-font-size: 90px;

* {
  list-style: none;
  padding-inline-start: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: $normal-background-color;
}

.plus {
  padding: 0;
  background-color: $normal-background-color;
  color: $action-button-color;
  border: 0;
  font-weight: 900;
  font-size: $double-font-size;
}

.search-input {
  background-color: $normal-background-color;
  color: $filter-text-color;
  inset: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 1px $normal-text-color;
  font-size: $normal-font-size;
  max-width: 95%;

  &:focus-visible {
    outline: 0;
  }
}

.selected-capital {
  margin: 0;
  color: $filter-text-color;
  font-size: $normal-font-size;
  font-weight: bold;
}

.list-item {
  display: flex;
  font-size: $normal-font-size;
  color: $normal-text-color;

  &-text-filter {
    color: $filter-text-color;
  }
}

.nav-bar {
  display: flex;
}

.nav-link {
  font-size: $normal-font-size;
  color: $nav-text-color;
}

.save {
  background-color: $normal-background-color;
  color: $action-button-color;
  font-size: $normal-font-size;
}

.clock {
  font-size: $large-font-size;
  color: $nav-text-color;

  &-row {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.owi {
  font-size: $triple-font-size !important;
  filter: invert(50%) sepia(44%) saturate(611%) hue-rotate(149deg)
    brightness(92%) contrast(88%);
}

.description {
  color: $filter-text-color;
  font-size: $half-font-size;
}

.small-weather-icon {
  height: 30px;
  width: 30px;
  filter: invert(14%) sepia(32%) saturate(6001%) hue-rotate(201deg)
    brightness(94%) contrast(98%);
}

.weather-data {
  font-size: $half-font-size;
  color: #3893b1;
  margin-left: 10px;
}
.weather-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
